.item {
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 4rem;

    .icon {
        margin-right: 1rem;
    }
}

.dashboard-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.8);
}

.dashboard-icon {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.title {
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #ffffff;
}
