.dashboard-link {
    text-decoration: none;
}

.item {
    text-decoration: none;
    padding-left: 2rem;
    margin-top: 4rem;

    .icon {
        margin-right: 1rem;
    }
}

.dashboard-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.8);
}

.dashboard-icon {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #ffffff;
}

.more {
    color: white;
}

.sub-item {
    padding: 0.7rem 0rem 0.7rem 3rem;
    margin-top: 0;
    .more,
    .title {
        font-weight: 300;
        font-size: 1.5rem;
    }

    &:hover {
        background-color: #919aa9;
    }
}

.click {
    background-color: #919aa9;
}
